// The latest settings can be found here:
// https://github.com/zurb/bower-foundation/blob/master/scss/foundation/_settings.scss

@import "foundation/functions";

// We use this to control whether or not CSS classes come through in the gem files.
$include-html-classes: true;
// $include-print-styles: true;
$include-html-global-classes: $include-html-classes;

$column-gutter: rem-calc(30);

$include-open-sans: false;
$body-font-family: "skolar-sans-latin", Helvetica, Arial, sans-serif;

$header-font-family: join("museo-slab", $body-font-family);
$header-font-weight: 300;

$primary-color: #E24D14;
$secondary-color: #79C6BF;

$magellan-padding: 20px;
$sub-nav-font-size: rem-calc(18);
// $sub-nav-font-color: #999;
// $sub-nav-font-color-hover: scale-color($sub-nav-font-color, $lightness: -25%);
// $sub-nav-active-bg: $primary-color;
// $sub-nav-active-bg-hover: scale-color($primary-color, $lightness: -25%);