@import "settings";
// @import "foundation";

// Or selectively include components
@import
  "foundation/components/accordion",
//   "foundation/components/alert-boxes",
  "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
  "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
  "foundation/components/flex-video",
  "foundation/components/forms",
  "foundation/components/grid",
  // "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
  "foundation/components/labels",
  "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
  "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
  "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
  "foundation/components/type",
//   "foundation/components/offcanvas",
  "foundation/components/visibility";

//Variables

$red: #E24D14;
$blue: #79C6BF;

//Header
.header{
    height: 200px;
    width: 100%;
    margin-bottom: 2rem;
}

#title-space{
  margin-left: 40%;
}

#title h1{
  position: absolute;
  width: 100%;
  vertical-align: middle;
        text-align: center;
  line-height: 200px;
  z-index: 3;
}

#logo{
    background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 50%;
  background-size: 10rem;
  width: 100%;
  height: 200px;
  position: absolute;
  z-index: 6;

  transition: background-size 100ms ease-out;

}

#logo:hover{
  background-size: 11rem;
}

@media #{$small-only} {
  #title-space{
    display: block;
    margin-bottom: 4rem;
  }

  #title h1{
    line-height: 4rem;
  }

  #logo{
    background-size: 5rem;
  }
  #logo:hover{
  background-size: 6rem;
}
}

@media #{$medium-only} {
  #title-space{
    margin-left: 30%;
  }

  #logo{
    background-size: 8rem;
  }
}

#left-back{
  background-color: $blue;
  width: 50%;
  height: 100%;
  float: left;
}

#right-back{
  background-color: $red;
  width: 50%;
  height: 100%;
  float: left;
}

.angle{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 92px;
  z-index: 1;
}

#left{
      width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 200px 92px 0 0;
  border-color: $blue  transparent transparent transparent;
  float: left;

}

#right{
      width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 200px 92px;
border-color: transparent transparent $red transparent;
  }

//classes
img{
  margin-bottom: 1rem;
}

.panel p, .panel .button{ //Otherwise text isn't middle aligned in top panel
  margin-bottom: 0rem;
}

.label{
  margin-bottom: .5rem;
}

.label a{
  text-decoration: underline;
  color: white;
}

.label a:hover{
  text-decoration: none;
}

.copyright{
  @include label();
  background-color: transparent;
  color: black;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.copyright a{
  color: black;
  text-decoration: underline;
}

h1{
  color: white;
}

h2{
  margin-top: 2rem;
}

.about h2{
  margin-top: 1rem;
}

h3{
  background-color: $red;
  color: white;
  padding: 1rem;
  margin-bottom: 0rem;
  margin-top: 3rem;
}

a.anchor{display: block; position: relative; top: 20px; visibility: hidden;}

.sub-nav{
  margin-left: -2.2rem;
}

// Accordion

ul.accordion{
  margin-left: 0rem;
}

.accordion li.accordion-navigation a{
  padding: .3rem;
  margin-bottom: .5rem;
  transition: margin 100ms;
}

.accordion a h4:before{
  content: '+';
  display: inline-block;
  font-family: Arial;
  font-weight: 500;
  margin-right: 1rem;
  margin-left: 1rem;
}

.accordion li.active a h4:before{
    content: '+';
    transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
}


.accordion li a:hover{
  margin-bottom: 1rem;
}

.accordion li.active a:hover{
  margin-bottom: .5rem;
}

.accordion li.active a{ //fix the background on content links
  background: none;
}

.accordion li.active a{
  background-color: #e8e8e8;
}

.asterism:before{
  content: '\2042';
  padding-left: 50%;
  font-family: serif;
  font-size: 1.5em;
}

.footer{
  background-color: scale-color(black, $lightness: +50%);
  color: scale-color(black, $lightness: +80%);
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: 3rem;
}

// Page specific styling
