body {
    font-family: tenso, helvetica, sans-serif;
    margin: 0 1em;
    background-color: #FEF8EC;
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 200px 3fr 1fr;
    grid-template-rows: 1fr auto auto 1fr;
    grid-template-areas:
    "header header header header" 
    ". photo main-text ."
    ". . links ."
    ". . . .";

    gap: 2em;
    /* grid-auto-rows: minmax(200px, auto); */
}

.main-head {
    grid-area: header;
    padding: 1em 3em;
}

.photo {
    grid-area: photo;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    background: #F1D4FF;
    transform: rotate(-7deg);
    width: 200px;
    height: 200px;
}

.photo img {
    /* box-shadow: 3px 10px 30px 0 rgba(20,20,20, 0.1); */
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    width: 194px;
    height: 194px;
    margin-inline-start: 3px;
    margin-block-start: 3px;
    /* animation: clipRotateAnim 5s linear infinite; */
}

@keyframes clipRotateAnim {
    to {
      transform: rotate(360deg)
    }
  }

main {
    grid-area: main-text;
}

.links {
    grid-area: links;
}

.links ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-block-start: 0;
    padding-inline-start: 0;
}

.links ul >li {
    display: inline-block;
    padding: 0.5em 1em;
}

h1 {
    font-weight: 700;
    font-size: 1.5em;
    border-bottom: 1px black solid;
    padding-block-end: 0.5em;
}

h2 {
    font-size: 1.5em;
    font-weight: 400;
    margin-block-start: 0;
}

a {
    color: #4D75B3;
    transition: all 300ms;
}

a:hover {
    color: #37547F;
}

@media (max-width: 650px) {
    .wrapper {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto 1fr;

        grid-template-areas: 
        "header"
        "photo"
        "main-text"
        "links";
        margin-inline: 2em;
        justify-items: center;
    }   

    .links ul > li {
        flex-basis: 20%;
    }
   }

.tooltip .tooltiptext {
    /* visibility: hidden; */
    width: 120px;
    background-color: #4D75B3;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: .5em 0;
    opacity: 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    /* transition: opacity 300ms; */
  }
  
.tooltip:hover .tooltiptext {
    /* opacity: 1; */
    /* visibility: visible; */
  }